<%= form.label "First Name" %><%= form.text_field :first_name, :required => 'required' %><br>
<%= form.label "Last Name" %><%= form.text_field :last_name, :required => 'required' %><br>
<%= form.label "Blood Type" %><%= form.text_field :blood_type, :required => 'required' %><br>
<%= form.label "Date Of Birth" %><%= form.date_field :date_of_birth, :required => 'required' %><br>
<%= form.label "Phone Number" %><%= form.number_field :phone_number, :required => 'required' %><br>
<%= form.label "Address" %><%= form.text_field :address, :required => 'required' %><br>
<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>
