
<% if signed_in? %>
<% if current_user.admin? %>

<h2 style="margin-top: 80px; margin-left: 120px;">All Donors</h2>
<br>

<table class = "table mt-1">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Donor</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Blood type</th>
      <th scope="col">Address</th>
      <th scope="col">Phone number</th>
      <th scope="col">Email</th>
      <th scope="col">Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @users.each do |user| %>

    
      <tr>
        <!-- <td><%#= listing.id %></td> -->
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.date_of_birth %></td>
        <td><%= user.blood_type %></td>
        <td><%= user.address %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.email %></td>
        <!-- <td><%#= user.amenities %></td> -->
        <td><%= user.points %></td>
        
        
        <% if signed_in? %>

          <%# if current_user.admin? %>
           <!--  <td><%#= link_to 'Reservations', user_reservations_path(user) %></td> -->
          <%# end %>

          <td><%= link_to 'Show Profile', user %></td>
          <% if current_user.admin? && user.verified == true %>
            <td>Verified Donor<td>
          <% elsif current_user.admin? && user.verified == false %>
            <td><%= link_to 'Verify Donor', verify_user_path(user) %></td>
            
          <% end %>

          

          <%# if current_user.admin? %>
						<!-- <td><%#= form_for @rewardcodes do |r| %>
							<%#= r.label :user_id %>
							<%#= r.number_field :user_id %><br>
							<%#= submit_tag("Generate Code") %><br><td> -->
						<%# end %>
					<%# end %>

          <%# if user.user == current_user && current_user.customer? %>
            <!-- <td><%#= link_to 'Edit', edit_user_path(user) %></td>
            <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%# end %> -->
            
        <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% end %>

<br><br><br>

<!-- <h5 style="color: black"><%#= will_paginate @users%></h5> -->
