<div id="clearance" class="sign-up">
  <h2 class="xx"><%= t(".title") %></h2><br>

<div class="container">
  <%= form_for @user, :html => {:class => "form-horizontal center"}  do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="form-group">
      <%= form.label "Password", class: "col-md-4 control-label" %>
      <div class="col-md-4">
      <%= form.password_field :password, :required => 'required', class: "form-control"%>
      <small id="passwordHelpInline" class="text-muted">* at least 7 characters</small>
    </div>
  </div>



    <div class="submit-field">
      <%= form.submit "Submit", id: "submit-button" %>
</div>
<br>Or <%= link_to "sign up with Facebook", "/auth/facebook" %>

  </div>
  <% end %>


<br><br><br>

