<h1>Profile page</h1>

<div id="profile_info">
<p><strong>Name:</strong> <%= @user.first_name + ' ' + @user.last_name%> </p>
<p><strong>Email:</strong> <%= @user.email %> </p>
<p><strong>Mobile:</strong> <%= @user.phone_number %></p>
<p><strong>Date of Birth:</strong> <%= @user.date_of_birth %></p>
</div>

<div id="blood-point">
  <strong>Reward Points:</strong> <%= @user.points %>
</div>
<br><br>
<div id="blood-type">
  <p>Blood Type:</p>
  <h1><%= @user.blood_type %></h1>
</div>
<br><br>

<%= form_tag(check_path, :method => "get") do %>
    
    <%= text_field_tag :code , '', placeholder: "Your code here" %>

    <%= submit_tag"Submit" %>
    <% end %>
<%= @message if @message %>

<div id="events-attended">
  
</div>
