<% if @user == current_user %>

  <h1>Your Profile</h1>
  <br>
<% else %>
  <br>
  <h1><%= @user.first_name + " " + @user.last_name %>'s Profile</h1>
  <br>
<% end %>

<% if @user.id == current_user.id %>
  <%= link_to "Edit profile", edit_user_path %> |
  <%= link_to "Reset password", edit_user_password_path(current_user.id) %>
<% end %>
<br><br>
<div id="profile_info">
<p><strong>Name:</strong> <%= @user.first_name + ' ' + @user.last_name%> </p>
<p><strong>Email:</strong> <%= @user.email %> </p>
<p><strong>Mobile:</strong> <%= @user.phone_number %></p>
<p><strong>Date of Birth:</strong> <%= @user.date_of_birth %></p>
</div>

<div id="blood-point">
  <strong>Reward Points:</strong> <%= @user.points %>
</div>
<br><br>
<div id="blood-type">
  <p>Blood Type:</p>
  <h1><%= @user.blood_type.upcase %></h1>
</div>
<br><br>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Organizer</th>
      <th>Venue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% #@events =  %>
    <tr>
      <td></td>
    </tr>
  </tbody>
<!-- <div id="events-attended"> -->
  <%# @events.each do |e| %>
    <%#= e. %>
  <%# end %>
<!-- </div> -->



</table>

<% if current_user.donor? %>
  <%= form_tag(check_path, :method => "post") do %>
      <%= text_field_tag :code , '', placeholder: "Your code here" %>
      <%= submit_tag"Submit" %>
  <% end %>
<% end %>
