<h1>Profile page123</h1>

<div id="profile_info">
<p><strong>Name:</strong> <%= @user.first_name + ' ' + @user.last_name%> </p>
<p><strong>Email:</strong> <%= @user.email %> </p>
<p><strong>Mobile:</strong> <%= @user.phone_number %></p>
<p><strong>Date of Birth:</strong> <%= @user.date_of_birth %></p>
</div>

<div id="blood-point">
  <strong>Reward Points:</strong> <%= @user.points %>
</div>
<br><br>
<div id="blood-type">
  <p>Blood Type:</p>
  <h1><%= @user.blood_type.upcase %></h1>
</div>
<br><br>

<table>
  <thead>
    <tr>
      <th>Organizer</th>
      <th>Venue</th>
    </tr>
  </thead>
<!-- <div id="events-attended"> -->
  <%# @events.each do |e| %>
    <%#= e. %>
  <%# end %>
<!-- </div> -->



</table>
