<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="xx">
  <div class="field">
    <br>
    <%= form.label :title, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_field :title, id: :event_title, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= form.label :organizer, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_field :organizer, id: :event_organizer, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= form.label :venue, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_field :venue, id: :event_venue, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= form.label :start_date, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_field :start_date, id: "flatpickr-start-input", class: "form-control" %>
      <script>$('#flatpickr-start-input').flatpickr();</script>
    </div>
  </div> 
  <br>
  <div class="field">
    <%= form.label :end_date, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_field :end_date, id: "flatpickr-end-input", class: "form-control" %>
      <script>$('#flatpickr-end-input').flatpickr();</script>
    </div>
  </div>
  <br>
  <div class="field">
    <%= form.label :start_time, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.time_select :start_time, id: :event_start_time, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= form.label :end_time, class: "col-md-4 control-label" %>
    <div class="col-md-4">
     <%= form.time_select :end_time, id: :event_end_time, class: "form-control" %>
   </div>
  </div>
  <br>
  <div class="field">
    <%= form.label :photos, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.file_field :photos, multiple: true, id: :event_photos, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= form.label :description, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_area :description, id: :event_description, class: "form-control", rows:"3" %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Submit", id: "submit-button"%>
  </div>
<% end %>
</div>

