<!DOCTYPE html>
<html>
<head>

  <title>Bloodstream</title>

  <!--  integrity=“sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u” crossorigin=“anonymous” -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Barlow|Volkhov|Montserrat|Nunito" rel="stylesheet">

  <%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

  <%= csrf_meta_tag %>

  <!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('7yynvidxishw');
</script>
<!-- End of Async Drift Code -->

</head>
<body>
<!-- <div class="header"> -->

<div id="flash">
  <% flash.each do |key, value| -%>
  <div id="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
</div>

<% if content_for?(:navbar) %>
  <%= yield :navbar %>
<% else %>
  <%= render partial: 'layouts/navbar' %>
<% end %>

<%= yield %>

<hr>
<div class="container pt-4 pb-4">
  <div class="row">
    <div class="footer col-6 pl-3 pr-3">
      <h5>Dreamteam</h5>
      <p><a href="https://www.google.com/maps/place/NEXT+Academy+%7C+The+Best+Coding+School/@3.133845,101.62998,15z/data=!4m2!3m1!1s0x0:0x1f08990385cee5b8?sa=X&ved=0ahUKEwijzaOd2LbXAhUGsI8KHXnVC0oQ_BIIfTAN">AG-7, Glomac Damansara, Jalan Damansara <br>Tmn Tun Dr Ismail, 60000</a><br>
      <a href="tel:0392128158">03-9212 8158</a></p>
    </div>
    <div class="footer col-sm pl-3 pr-3">
      <h5>Resources</h5>
      <p><a href="#">Statistics</a><br>
      <a href="#">Latest Update</a><br>
      <a href="#">Lorem Ipsum</a></p>
    </div>
    <div class="footer col-sm pl-3 pr-3">
      <h5>Connect</h5>
      <p><a href="#">Events</a><br>
      <a href="#">Blogs</a><br>
      <a href="#">Volunteer</a></p>
    </div>
    <div class="footer col-sm pl-3 pr-3">
      <h5>Get Help</h5>
      <p><a href="#">Emergency Plan</a><br>
      <a href="#">Support</a><br>
      <a href="#">Resources</a><br>
      <a href="#">Education</a></p>
    </div>
  </div>
</div>

<div id="us">
  <div class="us pt-3 pb-1">
    <p>Bloodstream - Web developed & designed by Dreamteam</p>
  </div>
</div>
</body>
</html>
